@import url('https://fonts.googleapis.com/css?family=Karla');

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background: linear-gradient(45deg, rgb(26, 26, 26), rgb(35, 35, 43))
}

.App {
  width: 100%;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(247, 248, 251);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  background: rgba(35, 35, 43, 0.8);
  border-right: 1px solid rgba(91, 72, 112, 0.2);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.Toolbar label {
  margin-right: 1rem;
}
.Toolbar-title {
  width: 33%;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.Toolbar-search {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.Toolbar-search input[type="submit"] {
  background: rgb(65, 160, 211);
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: 0;
}
.Toolbar-search input[type="text"] {
  margin-right: 1rem;
  background: rgba(35, 35, 43, 0.8);
  border: 0;
  border-bottom: 2px solid rgb(65, 160, 211);
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.Toolbar-search input[type="text"]:focus {
  outline: none;
}
.Toolbar-depth {
  display: inline-block;
  width: 33%;
  text-align: right;
}

.Loader {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  transform: translate(-50%, -50%);
  color: rgb(247, 248, 251);
}
.Loader-spinner {
  border: 16px solid rgba(65, 160, 211, 0.1);
  border-top: 16px solid rgb(65, 160, 211);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.Loader-value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.RelationGraph {
  height: 100vh;
  width: 100%;
}